





/* ===================== HEADER CSS  START================================== */

body {
    margin: 0;
    padding: 0;
    
  }
  
  #header {
  width: 100%;
  position: relative;
  align-content: center;
  z-index: 1;
  
  
    /* background-image: url('https://www.sskunjpura.org/admin/logged/images/homeslider/c81e728d9d4c2f636f067f89cc14862c2-Academic-Block-(SS-Kunjpura)-(1).jpg');
    height: 600px;
    width: 100vw;
    filter: brightness(90%);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 100%; */
  }
  
  #header2 {
  height: 700px;
  object-fit: contain;
  width: 100%;
  position: absolute;
  top: 0;
  
  }
  
  .navtoxix {
  backdrop-filter: blur(10px);
  /* backdrop-filter: brightness(.5); */
    max-width: 1440px;
  
  }
  
  
  
  
  
  /* #head_text{
    margin-top: 25px;
    display: inline-block;
    
    padding-bottom:2px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%; 
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s;
      
      
  }
  
  #head_text:hover {
    background-position: 100% 100%; 
    background-size: 100% 2px;
    
  }
  
  #head_text_a {
    transition: margin-bottom 0.3s ease; 
  }
  #head_text_a:hover {
    color: rgb(37, 172, 221);
    margin-bottom: 10px;
  }
  
  #head_text a {
    list-style: none;
    text-decoration: none;
    font: 2rem sans-serif;
    
    font-weight: bold;
    color: rgb(133, 147, 155);
    margin-top: 25px;
  } */
  #logo {
    width: 150px;
    height: 100px;
    object-fit: contain;
  
  }
  
  .list {
    
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-left: 20px;
    margin-right: 20px;
  
  
  }
  
  .toggt {
    display: flex;
    align-items: center;
    gap: 30px;
  
  }
  
  
  
  
  
  .LISTES {
    
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
    font-weight: 500;
  
    padding-bottom:2px;
    background-image: linear-gradient(#2bdfff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    
    transition:
      background-size 0.3s,
      background-position 0s 0.3s,
      margin-bottom 0.3s ease
      
    
  }
  
  .LISTES:hover {
  
  margin-bottom: 15px;
  color: #0096FF;
  list-style: none;
  text-decoration: none;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
  
  
  }
  
  
  
  
  
  #icon {
    display: none;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 30px;
    border: 1px solid gold;
    color: rgb(252, 91, 91);
    border-radius: 8px;
    cursor: pointer;
    
  
  }
  
  
  #obg {
  width: 100%;
  max-height: 1480px;
  height: 650px;
  filter: brightness(60%);
  }
  
  #nav_bottum_text  {
  display: block;
  }
  
  #nav_bottum_text1  {
  display: block;
  }
  
  #nav_text_flex {
   max-height: 600px;
   height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  }
  
  .nav_h1 {
  font-size: 3rem;
  font-weight: 700;
  
  }
  
  #nav_bottum_text2 {
  font-size: 40px;
  }
  
  .span_text {
  color:  rgb(56 189 248);
  }
  
  
  #header_btn {
  margin-top: 15px;
  height: 50px;
  width: 170px;
  font-size: 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgb(56 189 248);
  color: rgb(56 189 248);
  cursor: pointer;
  transition: background-color 600ms ease;
  
  }
  
  #header_btn:hover {
  background-color: #0096FF;
  color: white;
  border: 1px solid white;
  }
  
  /* ====== dropdown ====== */
  
  
  #dropdown {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
    font-weight: 500;
  
    padding-bottom:2px;
    background-image: linear-gradient(#2bdfff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    
    transition:
      background-size 0.3s,
      background-position 0s 0.3s,
      margin-bottom 0.3s ease
  }
  
  #dropdown:hover {
  
    margin-bottom: 15px;
    color: #0096FF;
    list-style: none;
    text-decoration: none;
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
    
    
    }
  
  #dropbtn {
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }
  
  #drop_a {
    color: white;
    text-decoration: none;
  
  }
  
  #sec {
  
    margin: 10px;
    position: absolute;
  
    margin-left: -200px;
    background-color: #0096FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
    
  
  }
  
  #dropdown_data1 {
      display: flex;
    flex-direction: column;
    margin: 0px;
    
    
   
  }
  
  
  
  
  
  
  #l {
    margin: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: margin-left 0.3s ease; 
   
  }
  
  #l:hover {
    margin-left: 25px;
  }
  
  
  #drop_i {
    display: flex;
    gap: 150px;
  
  }
  
  #drop_icon {
    margin-top: 10px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  
  }
  
  
  /* #drop {
    
    background-color: #0096FF;
    width: 330px;
    
  }
  
  #dropdown {
    list-style: none;
    font-size: 20px;
  }
  
  #dropdown1 {
    list-style: none; s
    font-size: 20px;
  }
  #dropdown2 {
    list-style: none;
    font-size: 20px;
  }
  
  #l {
    color: white;
    text-decoration: none;
    margin: 15px;
  } */